requests
paramiko
scp
pyyaml
pytest
# RPi.GPIO   # pi only
sounddevice
ads1015
numpy
pyusbiss
djangorestframework
django_countries
#git+https://gitlab.com/gascloud/gascloud_pi.git    # currently using tinycloud module in this repo
git+https://github.com/lizcorson/py-opc@opc-n3
djangorestframework-api-key
Django
environ
psycopg2-binary

django-filter

django-post_office
pendulum


django-registration
django-timezone-field
django-braces
django-cors-headers
django_countries
django-countries-plus
#django-languages-plus

django-location-field

django-simple-history

djangorestframework-csv



django-extra-views


html5lib
jsonfield
python-memcached

# for api docs
# coreapi
# pygments
# markdown
# docutils


python-dateutil
python-mimeparse
pytz




django-post_office




djangorestframework

django-filter

PyYAML
Pillow

git+https://github.com/phoebebright/django-yamlfield
git+ssh://git@gitlab.com/gascloud/toolbox.git

git+https://github.com/hleb-rubanau/django-rest-framework-datatables


# # development only
# premailer
# django-debug-toolbar



django-bootstrap-v5

# for backups
boto3 
