requests
paramiko
scp
pyyaml
pytest
RPi.GPIO   # pi only
sounddevice
ads1015
numpy
pyusbiss


#git+https://gitlab.com/gascloud/gascloud_pi.git    # currently using gascloud module in this repo
git+https://github.com/lizcorson/py-opc@opc-n3

